{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Compiler</title>
    
</head>
<body>

    <h1>My Compiler</h1>

    <div class="normas">
        <h2>Normas del Compilador</h2>
        <p>Este compilador soporta un conjunto de instrucciones básicas para la evaluación de expresiones aritméticas. Las normas son las siguientes:</p>
        <ul>
            <li>Se pueden usar operadores matemáticos como +, -, *, /.</li>
            <li>la instrucción para escribir en pantalla es :
                write (“ mensaje “, expresión )</li>
            <li>la instrucción para capturar dato en pantalla es:
                capture(variable)</li>
            <li>condicional: el condicional debe tener la siguiente sintaxis en
                minúscula
                -
                if (condición) then
                ………
                ……….
                end-if</li>
            <li>Las expresiones deben estar correctamente formateadas con paréntesis cuando sea necesario.</li>
            <li>Se pueden usar operadores relacionales : <,>,<=,>=,=,<>
                y operadores lógicos : and , or , not</li>
            
            <li>dentro de (condición) pueden haber más de una condición
                enlazadas con operadores lógicos y relacionales</li>
            <li>Los números deben ser enteros y positivos.</li>
            <li>Las instrucciones deben terminar con doble 2 puntos (::). esto no aplica a las líneas que tengas (if —- then) ni el (end-if)</li>
            <li>las palabras reservadas deben colocarse de color “azul” o colocarse
                en “negrita”
                .</li>
        </ul>
    </div>

    <div class="botones">
        <button onclick="window.location.href='/new_file'">New File</button>
        <button onclick="window.location.href='/files'">Open File</button>
    </div>

</body>
</html>
{% endblock %}